* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --heading: 'Montserrat';
  --para: 'Roboto';
  --headColor: #333333;
  --paraColor: #4d4d4d;
  --container: #f9f7fe;
  --gradient: linear-gradient(90deg,#242740,#254592);
}

body {
  font-family: var(--para);
}

.row {
  margin: 0;
  padding: 0;
}

.navbar {
  padding-right: 2rem;
}

.navbar-brand-mobile {
  display: none;
  position: relative;
  left: 3%;
  height: 5rem;
  width: 6.5rem;
}

.navbar-brand-mobile img {
  height: 100%;
  width: 100%;
}

.navbar-brand {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.1rem;
  position: relative;
  left: 3%;
  height: 6rem;
  width: 7rem;
}

.navbar-brand img {
  height: 100%;
  width: 100%;
}

.header-area {
  background: #242740;
}

.header-area .nav-item {
  text-transform: uppercase;
}

.header-area .nav-item .dropdown-menu {
  margin: 1rem 0;
}

.header-area .nav-item .dropdown-menu .dropdown-item {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--paraColor);
}

.header-area .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
}

/* Hero section starts */
.hero-page {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#242740), to(#254592));
  background: linear-gradient(#242740, #254592);
  overflow: hidden;
}

.hero-page .background {
  position: absolute;
  height: 30rem;
  width: 30rem;
  top: 15%;
  right: 8%;
}

.hero-page .background img {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.hero-page .background h1 {
  position: relative;
  top: 0;
  right: 15rem;
  z-index: 0;
  font-family: var(--heading);
  font-size: 35vw;
  color: #1c1e31;
  -webkit-animation: back-we 2s ease;
          animation: back-we 2s ease;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
}

@-webkit-keyframes back-we {
  0% {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
  }
  100% {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes back-we {
  0% {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
  }
  100% {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
  }
}

.hero-page .hero-intro {
  position: relative;
  top: 15%;
  left: 5%;
}

.hero-page .hero-intro .hero-text {
  padding-right: 10%;
  color: #fefefe;
}

.hero-page .hero-intro .hero-text h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.hero-page .hero-intro .hero-text h3 {
  font-family: var(--heading);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 5rem;
}

.hero-page .hero-intro .hero-text h3 a {
  color: #fefefe;
  text-decoration: none;
}

.hero-page .hero-intro .hero-text h4 {
  font-family: var(--heading);
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

.hero-page .hero-intro .hero-text p {
  padding: 2rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  text-justify: auto;
  letter-spacing: 0.1rem;
}

.hero-page .hero-intro .scroll-img {
  position: absolute;
  margin-top: 5%;
  left: 10%;
}

.hero-page .hero-intro .scroll-img a:hover {
  opacity: 0.7;
}

.hero-page .hero-intro .scroll-img a::before {
  position: absolute;
  left: 50%;
  top: 90px;
  content: "";
  width: 1px;
  height: 160px;
  background: #fff;
  display: inline-block;
}

.hero-page .hero-intro .hero-scroll {
  position: absolute;
  color: #fff;
}

@-webkit-keyframes scroll-animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes scroll-animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Services*/
.director-wrapper {
  margin: -10% 0 5% 0;
  width: 100%;
  padding: 0 6%;
}

.director-wrapper .director-img {
  position: absolute;
  margin-top: -4%;
  margin-left: -4%;
  width: 40%;
  height: 65%;
}

.director-wrapper .director-img video {
  border-radius: 5px;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 5;
}

.director-wrapper .director-img::before {
  position: absolute;
  content: "";
  background: url("../img/bluedots.png") center center no-repeat;
  height: 100%;
  width: 100%;
  left: 70px;
  bottom: -90px;
  max-width: 795px;
  background-size: 100%;
  display: block;
}

.director-wrapper .director-card {
  width: 100%;
  background-image: url("../img/purpbg.jpg");
  -webkit-box-shadow: -10px 20px 20px #888888;
          box-shadow: -10px 20px 20px #888888;
}

.director-wrapper .director-card::after {
  position: absolute;
  left: 15%;
  content: "";
  height: 30%;
  width: 1px;
  margin-top: -5%;
  background: #ccc;
  display: inline-block;
}

.director-wrapper .director-card .director-note {
  margin-left: 47%;
  padding: 3% 3%;
}

.director-wrapper .director-card .director-note h2 {
  padding: 2rem 0;
  font-size: 16px;
  font-weight: 600;
  color: #2E9CCA;
  text-transform: uppercase;
}

.director-wrapper .director-card .director-note h3 {
  font-family: var(--heading);
  color: #fefefe;
  text-transform: uppercase;
  font-size: 3rem;
}

.director-wrapper .director-card .director-note p {
  color: #fff;
  line-height: 36px;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 400;
}

.director-wrapper .director-card .director-note .button-4 {
  width: 15rem;
  height: 55px;
  border: 2px solid #254592;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  position: relative;
  letter-spacing: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 2rem 0;
}

.director-wrapper .director-card .director-note .button-4 a {
  font-size: 12px;
  font-weight: 600;
  color: #fefefe;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
  position: relative;
}

.director-wrapper .director-card .director-note .eff-4 {
  width: 15rem;
  height: 55px;
  left: -15rem;
  background: var(--gradient);
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
}

.director-wrapper .director-card .director-note .button-4:hover .eff-4 {
  left: 0;
}

.director-wrapper .director-card .director-note .button-4:hover a {
  color: #fff;
}

.director-wrapper .director-card .director-note i {
  margin-left: 1rem;
}

/* Services */
.services-wrapper {
  overflow: hidden;
  width: 100%;
}

.services-wrapper .services-container {
  padding: 6% 3%;
}

.services-wrapper .services-container h2 {
  font-size: 3rem;
  padding: 2rem 0 0 0;
  font-family: var(--heading);
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.services-wrapper .services-container h3 {
  font-size: 1.2rem;
  color: #254592;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.services-wrapper .services-container .services-div {
  padding: 2% 4%;
  font-family: var(--para);
}

.services-wrapper .services-container .services-div .services {
  text-align: center;
  margin: 3% 0;
  border-radius: 5px;
  padding: 3% 3%;
  width: 29%;
  background: var(--container);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.services-wrapper .services-container .services-div .services img {
  height: 5rem;
  padding-bottom: 4%;
}

.services-wrapper .services-container .services-div .services h4 {
  padding: 5% 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: #254592;
}

.services-wrapper .services-container .services-div .services p {
  text-align: center;
  font-size: 1.1rem;
  color: var(--paraColor);
  padding: 0;
}

.services-wrapper .services-container .services-div .services:hover {
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.services-wrapper .services-container p {
  line-height: 2rem;
  padding: 0 0 2rem 0;
  font-size: 1.2rem;
  color: var(--paraColor);
  text-align: justify;
  text-justify: auto;
  margin: 0;
}

.services-wrapper .services-container .button-4 {
  width: 15rem;
  height: 55px;
  border: 2px solid #242740;
  text-transform: uppercase;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: 50%;
  letter-spacing: 0.2rem;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 0 0 40px 50px;
}

.services-wrapper .services-container .button-4 a {
  font-size: 12px;
  font-weight: 600;
  color: #242740;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
  position: relative;
}

.services-wrapper .services-container .eff-4 {
  width: 15rem;
  height: 55px;
  left: -15rem;
  background: var(--gradient);
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
}

.services-wrapper .services-container .button-4:hover .eff-4 {
  left: 0;
}

.services-wrapper .services-container .button-4:hover a {
  color: #fff;
}

.services-wrapper .services-container i {
  margin-left: 1rem;
}

/* Start Quote  */
.quote-wrapper {
  margin: 3% 0;
  width: 100%;
}

.quote-wrapper .quote {
  position: relative;
  overflow: hidden;
  padding: 10%;
  text-align: center;
  width: 100%;
}

.quote-wrapper .quote::after {
  content: "";
  position: absolute;
  top: 90%;
  height: 25%;
  width: 1px;
  background: #ccc;
  display: inline-block;
}

.quote-wrapper .quote p {
  position: relative;
  z-index: 1;
  font-family: var(--heading);
  font-size: 3.5rem;
  color: var(--paraColor);
}

.quote-wrapper .quote::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  background: url(../img/quotes.png) no-repeat center center;
  content: "";
  height: 190px;
  margin-top: -100px;
}

/* Project works */
.works-wrapper {
  max-width: 100%;
  height: 82rem;
  overflow: hidden;
  position: relative;
  padding: 0 3%;
}

.works-wrapper .works-container {
  width: 100%;
}

.works-wrapper .works-container .content-container {
  padding: 3% 0;
}

.works-wrapper .works-container .content-container h2 {
  font-family: var(--heading);
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--headColor);
}

.works-wrapper .works-container .content-container p {
  font-size: 1rem;
  color: var(--headColor);
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

.works-wrapper .works-container .projects {
  padding: 5% 0;
}

.works-wrapper .works-container .projects .left-project {
  margin-top: 10%;
}

.works-wrapper .works-container .projects .left-project .dots {
  background: url(../img/darkblue.png) center center/3rem repeat;
  content: "";
  height: 95%;
  right: 20px;
  width: 83%;
  position: absolute;
  z-index: -1;
  bottom: -40px;
}

.works-wrapper .works-container .projects .left-project .image {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  -webkit-box-shadow: -10px 20px 50px #888;
          box-shadow: -10px 20px 50px #888;
}

.works-wrapper .works-container .projects .left-project .image img {
  width: 100%;
}

.works-wrapper .works-container .projects .left-project h5 {
  position: relative;
  text-transform: uppercase;
  left: 15%;
  top: 35%;
  font-weight: 600;
  font-family: var(--heading);
  letter-spacing: 0.1rem;
  color: var(--headColor);
  font-size: 1.7rem;
}

.works-wrapper .works-container .projects .left-project p {
  position: absolute;
  left: 17%;
  top: 30.5rem;
  font-size: 1rem;
  text-align: justify;
  text-justify: auto;
  letter-spacing: 0.1rem;
}

.works-wrapper .works-container .projects .left-project a {
  position: absolute;
  left: 17%;
  top: 40.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.works-wrapper .works-container .projects .left-project a i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.works-wrapper .works-container .projects .left-project a:hover > i {
  margin-left: 0.5rem;
}

.works-wrapper .works-container .projects .right-project {
  margin-top: -5%;
}

.works-wrapper .works-container .projects .right-project .dots {
  background: url(../img/darkblue.png) center center/3rem repeat;
  content: "";
  height: 60%;
  width: 83%;
  right: 20px;
  position: absolute;
  z-index: -1;
  bottom: 135px;
}

.works-wrapper .works-container .projects .right-project .image {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  -webkit-box-shadow: -10px 20px 50px #888;
          box-shadow: -10px 20px 50px #888;
}

.works-wrapper .works-container .projects .right-project .image img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.works-wrapper .works-container .projects .right-project h5 {
  position: relative;
  text-transform: uppercase;
  left: 15%;
  top: 23%;
  font-family: var(--heading);
  color: var(--headColor);
  font-size: 1.7rem;
}

.works-wrapper .works-container .projects .right-project p {
  position: absolute;
  left: 17%;
  top: 30.5rem;
  font-size: 1rem;
  text-align: justify;
  text-justify: auto;
  letter-spacing: 0.1rem;
}

.works-wrapper .works-container .projects .right-project a {
  position: absolute;
  left: 17%;
  top: 36rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.works-wrapper .works-container .projects .right-project a i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.works-wrapper .works-container .projects .right-project a:hover > i {
  margin-left: 0.5rem;
}

.works-wrapper .works-container .projects .button-4 {
  display: none;
  width: 15rem;
  height: 55px;
  border: 2px solid #242740;
  text-transform: uppercase;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 15rem;
  letter-spacing: 0.2rem;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 0 0 40px 50px;
}

.works-wrapper .works-container .projects .button-4 a {
  font-size: 12px;
  font-weight: 600;
  color: #242740;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
  position: relative;
}

.works-wrapper .works-container .projects .button-4 a i {
  margin-left: 1rem;
}

.works-wrapper .works-container .projects .eff-4 {
  width: 15rem;
  height: 55px;
  left: -15rem;
  background: var(--gradient);
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
}

.works-wrapper .works-container .projects .button-4:hover .eff-4 {
  left: 0;
}

.works-wrapper .works-container .projects .button-4:hover a {
  color: #fff;
}

.motivational-quotes-wrapper {
  margin: 4rem 0;
  padding: 2rem;
  overflow: hidden;
}

.motivational-quotes-wrapper .inside-quotes {
  padding: 2rem 0;
}

.motivational-quotes-wrapper .motivational-quotes .quote-text {
  overflow: hidden;
  text-align: center;
  width: 100%;
  background-color: var(--container);
}

.motivational-quotes-wrapper .motivational-quotes .quote-text h5 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  font-family: var(--heading);
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--paraColor);
}

.motivational-quotes-wrapper .motivational-quotes .quote-text::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  background: url(../img/quotes.png) no-repeat center center;
  content: "";
  height: 190px;
  margin-top: -100px;
}

.motivational-quotes-wrapper .motivational-quotes .quote-img {
  width: 100%;
  height: 30rem;
}

.motivational-quotes-wrapper .motivational-quotes .quote-img img {
  width: 100%;
  height: 100%;
}

/* Team details */
.team-wrapper {
  width: 100%;
  background: url("../img/purpbg.jpg");
  padding: 2rem;
  margin-bottom: 10rem;
}

.team-wrapper .team-details {
  overflow: hidden;
}

.team-wrapper .team-details h2 {
  text-align: center;
  font-family: var(--heading);
  text-transform: uppercase;
  font-size: 3rem;
  color: #fefefe;
  padding: 2rem 0;
}

.team-wrapper .team-details .row {
  padding: 3rem 0;
}

.team-wrapper .team-details .team-img {
  overflow: hidden;
}

.team-wrapper .team-details .team-img .image {
  padding: 2rem 0;
}

.team-wrapper .team-details .team-img .image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.team-wrapper .team-details .team-content {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  color: #fefefe;
}

.team-wrapper .team-details .team-content h5 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-size: 1rem;
  color: #2E9CCA;
}

.team-wrapper .team-details .team-content h3 {
  font-family: var(--heading);
  font-size: 2rem;
  padding: 1rem 0;
}

.team-wrapper .team-details .team-content p {
  text-align: justify;
  text-justify: auto;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-size: 1rem;
}

/* Vision  , Mission */
.vision {
  background: url("../img/purpbg.jpg");
  padding: 2rem;
  color: #fefefe;
  margin-bottom: 10rem;
}

.vision h2 {
  font-family: var(--heading);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  padding: 1rem 0;
}

.vision p {
  line-height: 2rem;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  text-align: justify;
  text-justify: auto;
  margin: 0;
}

.vision ul {
  padding: 0 2rem;
}

.vision ul li {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* Footer Start */
.footer-area {
  width: 100%;
  position: absolute;
}

.footer-area .footer-content {
  padding: 4%;
  background: url("../img/purpbg.jpg");
}

.footer-area .footer-content::after {
  position: absolute;
  content: "";
  background: url("../img/bluedots.png") center center no-repeat;
  height: 100%;
  width: 100%;
  right: -31rem;
  bottom: 0px;
  max-width: 795px;
  background-size: 100%;
  display: block;
}

.footer-area .footer-content h3 {
  font-family: var(--heading);
  font-size: 2rem;
  color: #fefefe;
}

.footer-area .footer-content .social-media {
  padding: 2rem 0;
}

.footer-area .footer-content .social-media .icon {
  margin-right: 0.8rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #fefefe;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer-area .footer-content .social-media .icon i {
  position: relative;
  top: 40%;
  left: 30%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fefefe;
  width: 100%;
}

.footer-area .footer-content .social-media .icon:hover {
  background-color: #2E9CCA;
  cursor: pointer;
  border: 1px solid #2E9CCA;
}

.footer-area .footer-content p {
  text-transform: uppercase;
  color: #fefefe;
  margin: 0;
  font-size: 0.7rem;
  padding-bottom: 0.4rem;
  letter-spacing: 0.1rem;
}

.footer-area .footer-content p a {
  font-size: 0.7rem;
  color: #2E9CCA;
  text-decoration: none;
}

.footer-area .contact-us {
  padding: 0rem 5rem;
  color: #fefefe;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#242740), to(#254592));
  background: linear-gradient(#242740, #254592);
}

.footer-area .contact-us::before {
  position: absolute;
  z-index: -1;
  height: 128%;
  width: 100%;
  left: 0rem;
  top: -28%;
  content: "";
  background: #242740;
}

.footer-area .contact-us h5 {
  text-transform: lowercase;
  position: absolute;
  right: 2rem;
  letter-spacing: 0.5rem;
  font-family: var(--heading);
  color: #1c1e31;
  z-index: 0;
  font-size: 15rem;
}

.footer-area .contact-us h2 {
  font-family: var(--heading);
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}

.footer-area .contact-us p {
  position: relative;
  z-index: 2;
  text-align: justify;
  text-justify: auto;
  color: #2E9CCA;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-area .contact-us p:hover {
  color: #fefefe;
  font-weight: 500;
}

.footer-area .contact-us h4 {
  position: relative;
  z-index: 2;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.footer-area .contact-us h4 a {
  color: #fefefe;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-area .contact-us h4 a:hover {
  color: #2E9CCA;
}

.footer-area .contact-us input {
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  margin-top: 2rem;
  width: 15rem;
}

.footer-area .contact-us .btn {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 990px) {
  .navbar-brand-mobile {
    display: block;
  }
  .navbar {
    padding-right: 2rem;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-nav {
    position: relative;
    text-align: right;
    z-index: 99;
  }
  .hero-page .background {
    display: none;
  }
  .header-area .nav-item .nav-link {
    padding: 0.8rem 0;
  }
  .hero-page .hero-intro .hero-text {
    padding-right: auto;
  }
  .director-wrapper .director-img {
    display: none;
  }
  .director-wrapper .director-card .director-note {
    margin-left: 0;
  }
  .director-wrapper .director-card .director-note h3 {
    font-size: 2.5rem;
  }
  .director-wrapper .director-card::after {
    display: none;
  }
  .quote-wrapper .quote p {
    font-size: 2rem;
  }
  .services-wrapper .services-container h3 {
    padding-right: 0;
  }
  .works-wrapper {
    height: 110rem;
  }
  .works-wrapper .works-container .content-container h2 {
    font-size: 2.5rem;
  }
  .works-wrapper .works-container .projects .left-project {
    margin-top: 0;
  }
  .works-wrapper .works-container .projects .left-project .dots {
    display: none;
  }
  .works-wrapper .works-container .projects .left-project .image {
    width: 100%;
    height: 80%;
  }
  .works-wrapper .works-container .projects .left-project h5 {
    top: 10%;
    left: 0;
  }
  .works-wrapper .works-container .projects .left-project p {
    top: 110%;
    left: 1rem;
  }
  .works-wrapper .works-container .projects .left-project a {
    top: 100%;
    left: 1rem;
  }
  .works-wrapper .works-container .projects .right-project {
    margin-top: 10rem;
  }
  .works-wrapper .works-container .projects .right-project .dots {
    display: none;
  }
  .works-wrapper .works-container .projects .right-project .image {
    width: 100%;
    height: 80%;
  }
  .works-wrapper .works-container .projects .right-project h5 {
    top: 10%;
    left: 0;
  }
  .works-wrapper .works-container .projects .right-project p {
    top: 110%;
    left: 1rem;
  }
  .works-wrapper .works-container .projects .right-project a {
    top: 100%;
    left: 1rem;
  }
  .footer-area .footer-content::after {
    display: none;
  }
  .footer-area .contact-us {
    padding: 4%;
  }
  .footer-area .contact-us::before {
    display: none;
  }
  .footer-area .contact-us h5 {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .bookmark-circle {
    display: none;
  }
  .navbar-brand {
    left: 1%;
  }
  .navbar-brand img {
    display: none;
  }
  .navbar-brand a {
    font-size: 0.1rem;
  }
  .hero-page .background h1 {
    display: none;
  }
  .hero-page .hero-intro {
    padding: 0;
  }
  .hero-page .hero-intro .hero-text p {
    font-size: 0.8rem;
  }
  .hero-page .hero-intro .hero-text h3 {
    font-size: 2rem;
  }
  .hero-page .hero-intro .hero-text h4 {
    font-size: 2.5rem;
  }
  .hero-page .hero-intro .scroll-img {
    left: 0;
    bottom: -20rem;
  }
  .motivational-quotes-wrapper {
    padding: 2rem 0;
  }
  .services-wrapper .services-container h2 {
    font-size: 2.5rem;
  }
  .services-wrapper .services-container h3 {
    font-size: 1rem;
  }
  .vision h2 {
    font-size: 2.5rem;
  }
  .works-wrapper {
    height: 80rem;
  }
  .works-wrapper .works-container .projects .left-project a {
    position: relative;
    top: 2rem;
    left: 0;
  }
  .works-wrapper .works-container .projects .right-project a {
    position: relative;
    top: 2rem;
    left: 0;
  }
  .team-wrapper {
    padding: 1rem;
  }
  .team-wrapper .team-details .team-content {
    padding: 1rem;
  }
  .team-wrapper .team-details h2 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */