// 252740,464866,AAABB8,2E9CCA,29648A

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --heading: 'Montserrat';
    --para: 'Roboto';
    --headColor: #333333;
    --paraColor: #4d4d4d;
    --container: #f9f7fe;
    --gradient: linear-gradient(90deg,#242740,#254592);
}
body{
    font-family: var(--para);
}
.row{
    margin: 0;
    padding: 0;
}
.bookmark{
    display: none;
    background-color: #fff;
    position: absolute;
    left: 10%;
    height: 4rem;
    width: 5rem;
}
.bookmark-circle{
    background-color: #fff;
    position: absolute;
    top: 0.6rem;
    left: 4%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.navbar{
    padding-right : 2rem;
}
.navbar-brand{
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.1rem;
    position: relative;
    left: 3%;
    height: 5rem;
    width: 5rem;

    img{
        height: 100%;
        width: 100%;
    }
}
.header-area{
    background: #242740;

    .nav-item{
        text-transform: uppercase;

        .dropdown-menu{
            margin: 1rem 0;

            .dropdown-item{
                font-size: 0.9rem;
                padding: 0.5rem 1rem;
                font-weight: 600;
                color: var(--paraColor);
            }
        }

        .nav-link{
            text-transform: uppercase;
            font-weight: 600;
            padding: 0 0.8rem;
        }
    }
    // .navbar-nav .active a{
    //     background: var(--headColor);
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     background-clip: text;
    // }
}


/* Hero section starts */
.hero-page{
    width: 100%;
    height: 100vh;
    background: linear-gradient( #242740, #254592,);
    overflow: hidden;

    .background{
        position: absolute;
        height: 30rem;
        width: 30rem;
        top: 15%;
        right: 8%;

        img{
            height: 100%;
            width: 100%;
            z-index: 0;
        }

        h1{
            position: relative;
            top: 0;
            right: 15rem;
            z-index: 0;
            font-family: var(--heading);
            font-size: 35vw;
            color: #1c1e31;
            animation: back-we 2s ease;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: transparent;
        }

        @keyframes back-we {
            0%{
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: #fff;
                color: transparent;
            }
            100%{
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: transparent;
            }

        }
    }

    .hero-intro{
        position: relative;
        top: 15%;
        left: 5%;

        .hero-text{
            padding-right: 10rem;
            color: #fefefe;

            h2{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.5rem;
                margin: 0;
            }
            h3{
                font-family: var(--heading);
                font-weight: 800;
                text-transform: uppercase;
                font-size: 5rem;

                a{
                    color: #fefefe;
                    text-decoration: none;
                }
            }
            h4{
                font-family: var(--heading);
                font-size: 3rem;
                text-align: center;
                font-weight: 800;
                text-transform: uppercase;
            }
            p{
                padding: 2rem 0;
                font-size: 1.2rem;
                line-height: 2rem;
                text-align: justify;
                text-justify: auto;
                letter-spacing: 0.1rem;
            }
        }

        .scroll-img{
            position: absolute;
            margin-top: 5%;
            left: 10%;

            a:hover{
                opacity: 0.7;
            }

            a::before{
                position: absolute;
                left: 50%;
                top: 90px;
                content: "";
                width: 1px;
                height: 160px;
                background: #fff;
                display: inline-block;
            }
        }

        // .scrol:hover{
        //     opacity: 0.7;
        // }

        // .scrol::before{
        //     position: absolute;
        //     left: 1%;
        //     top: 19rem;
        //     content: "";
        //     width: 1px;
        //     background: #fff;
        //     display: inline-block;
        // }

        .hero-scroll{
            position: absolute;
            color: #fff;
            // animation: scroll-animate 10s infinite linear;
        }

        @keyframes scroll-animate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
    }
}

/* Services*/

.director-wrapper{
    margin: -10% 0 5% 0;
    width: 100%;
    padding: 0 6%;

    .director-img{
        position: absolute;
        margin-top: -4%;
        margin-left: -4%;
        width: 40%;
        height: 65%;

        video{
            border-radius: 5px;
            height: auto;
            width: 100%;
            position: relative;
            z-index: 5;
        }
    }
    .director-img::before{
        position: absolute;
        content: "";
        background: url("../img/bluedots.png") center center no-repeat;
        height: 100%;
        width: 100%;
        left: 70px;
        bottom: -90px;
        max-width: 795px;
        background-size: 100%;
        display: block;
    }

    .director-card{
        width: 100%;
        background-image: url("../img/purpbg.jpg");
        box-shadow: -10px 20px 20px #888888;

        &::after{
            position: absolute;
            left: 15%;
            content: "";
            height: 30%;
            width: 1px;
            margin-top: -5%;
            background: #ccc;
            display: inline-block;
        }

        .director-note{
            margin-left: 47%;
            padding: 3% 3%;

            h2{
                padding: 2rem 0;
                font-size: 16px;
                font-weight: 600;
                color: #2E9CCA;
                text-transform: uppercase;
            }

            h3{
                font-family: var(--heading);
                color: #fefefe;
                text-transform: uppercase;
                font-size: 3rem;
            }

            p{
                color: #fff;
                line-height: 36px;
                font-size: 1rem;
                font-family: "Poppins";
                font-weight: 400;
            }
            .button-4{
            width:15rem;
            height:55px;
            border:2px solid #254592;
            text-transform: uppercase;
            // float:left;
            text-align:center;
            cursor:pointer;
            position:relative;
            letter-spacing: 0.2rem;
            box-sizing:border-box;
            overflow:hidden;
            margin: 2rem 0;
        }
        .button-4 a{
            font-size:12px;
            font-weight: 600;
            color:#fefefe;
            text-decoration:none;
            line-height:50px;
            transition:all .3s ease;
            z-index:2;
            position:relative;
        }
        .eff-4{
            width:15rem;
            height:55px;
            left:-15rem;
            background:var(--gradient);
            position:absolute;
            transition:all .3s ease;
            z-index:1;
        }
        .button-4:hover .eff-4{
            left:0;
        }
        .button-4:hover a{
         color:#fff;
        }
        i{
            margin-left: 1rem;
        }
        }
    }
}


/* Services */

.services-wrapper{
    overflow: hidden;
    width: 100%;

    .services-container{
        padding: 6% 3%;

        h2{
            font-size: 3rem;
            padding: 2rem 0 0 0;
            font-family: var(--heading);
            margin: 0;
            font-weight: 800;
            text-transform: uppercase;
        }

        h3{
            font-size: 1.2rem;
            color: #254592;
            line-height: 2rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .services-div{
            padding: 2% 4%;
            font-family: var(--para);

            .services{
                text-align: center;
                margin: 3% 0;
                border-radius: 5px;
                padding: 3% 3%;
                width: 29%;
                background: var(--container);
                transition: 0.5s ease;

                img{
                    height: 5rem;
                    padding-bottom: 4%;
                }
                h4{
                    padding: 5% 0;
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: #254592;
                }
                p{
                    text-align: center;
                    font-size: 1.1rem;
                    color: var(--paraColor);
                    padding: 0;
                }
            }
            .services:hover{
                -moz-box-shadow: 0 0 5px #ccc;
                -webkit-box-shadow: 0 0 5px #ccc;
                box-shadow: 0 0 20px #ccc;
            }
        }

        p{
            line-height: 2rem;
            padding: 0 0 2rem 0;
            font-size: 1.2rem;
            color: var(--paraColor);
            text-align: justify;
            text-justify: auto;
            margin: 0;
        }

        .button-4{
            width:15rem;
            height:55px;
            border:2px solid #242740;
            text-transform: uppercase;
            float:left;
            text-align:center;
            cursor:pointer;
            position:relative;
            left: 50%;
            letter-spacing: 0.2rem;
            transform: translateX(-80%);
            box-sizing:border-box;
            overflow:hidden;
            margin:0 0 40px 50px;
        }
        .button-4 a{
            font-size:12px;
            font-weight: 600;
            color:#242740;
            text-decoration:none;
            line-height:50px;
            transition:all .3s ease;
            z-index:2;
            position:relative;
        }
        .eff-4{
            width:15rem;
            height:55px;
            left:-15rem;
            background:var(--gradient);
            position:absolute;
            transition:all .3s ease;
            z-index:1;
        }
        .button-4:hover .eff-4{
            left:0;
        }
        .button-4:hover a{
         color:#fff;
        }
        i{
            margin-left: 1rem;
        }
    }
}


/* Start Quote  */

.quote-wrapper{
    margin: 3% 0;
    width: 100%;

    .quote{
        position: relative;
        overflow: hidden;
        padding: 10%;
        text-align: center;
        width: 100%;

        &::after{
            content: "";
            position: absolute;
            top: 90%;
            height: 25%;
            width: 1px;
            background: #ccc;
            display: inline-block;
        }

        p{
            position: relative;
            z-index: 1;
            font-family: var(--heading);
            font-size: 3.5rem;
            color: var(--paraColor);
        }

        &::before{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            background: url(../img/quotes.png) no-repeat center center;
            content: "";
            height: 190px;
            margin-top: -100px;
        }
    }
}


/* Project works */

.works-wrapper{
    max-width: 100%;
    height: 82rem;
    overflow: hidden;
    position: relative;
    padding: 0 3%;

    .works-container{
        width: 100%;

        .content-container{
            padding: 3% 0 ;

            h2{
                font-family: var(--heading);
                text-transform: uppercase;
                font-size: 3rem;
                color: var(--headColor);
            }
            p{
                font-size: 1rem;
                color: var(--headColor);
                line-height: 2rem;
                letter-spacing: 0.1rem;
            }
        }

        .projects{
            padding: 5% 2%;

            .left-project{
                margin-top: 10%;

                .dots{
                    background: url(../img/darkblue.png) center center / 3rem repeat;
                    content: "";
                    height: 95%;
                    right: 20px;
                    width: 83%;
                    position: absolute;
                    z-index: -1;
                    bottom: -40px;
                }
                
                .image{
                    width: 30rem;
                    height: 20rem;
                    overflow: hidden;
                    box-shadow: -10px 20px 50px #888;
                    
                    img{
                        width: 100%;
                    }
                }

                h5{
                    position: relative;
                    text-transform: uppercase;
                    left: 15%;
                    top: 35%;
                    font-weight: 600;
                    font-family: var(--heading);
                    letter-spacing: 0.1rem;
                    color: var(--headColor);
                    font-size: 1.7rem;
                }

                p{
                    position: absolute;
                    left: 17%;
                    top: 30.5rem;
                    font-size: 1rem;
                    text-align: justify;
                    text-justify: auto;
                    letter-spacing: 0.1rem;
                }
                a{
                    position: absolute;
                    left: 17%;
                    top: 40.5rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 0.8rem;
                    letter-spacing: 0.1rem;
                    text-decoration: none;

                    i{
                        transition: 0.3s ease;
                    }

                    &:hover > i{
                        margin-left: 0.5rem;
                    }
                }
            }

            .right-project{
                margin-top: -5%;

                .dots{
                    background: url(../img/darkblue.png) center center / 3rem repeat;
                    content: "";
                    height: 60%;
                    width: 83%;
                    right: 20px;
                    position: absolute;
                    z-index: -1;
                    bottom: 135px;
                }

                .image{
                    width: 30rem;
                    height: 20rem;
                    overflow: hidden;
                    box-shadow: -10px 20px 50px #888;

                    img{
                        width: 108%;
                        margin: 0;
                    }
                }
                h5{
                    position: relative;
                    text-transform: uppercase;
                    left: 15%;
                    top: 23%;
                    font-family: var(--heading);
                    color: var(--headColor);
                    font-size: 1.7rem;
                }

                p{
                    position: absolute;
                    left: 17%;
                    top: 30.5rem;
                    font-size: 1rem;
                    text-align: justify;
                    text-justify: auto;
                    letter-spacing: 0.1rem;
                }

                a{
                    position: absolute;
                    left: 17%;
                    top: 36rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 0.8rem;
                    letter-spacing: 0.1rem;
                    text-decoration: none;
                    transition: 0.3s ease;

                    i{
                        transition: 0.3s ease;
                    }

                    &:hover > i{
                        margin-left: 0.5rem;
                    }
                }
            }

            .button-4{
                display: none;
                width:15rem;
                height:55px;
                border:2px solid #242740;
                text-transform: uppercase;
                float:left;
                text-align:center;
                cursor:pointer;
                position: relative;
                left: 50%;
                top: 15rem;
                letter-spacing: 0.2rem;
                transform: translateX(-80%);
                box-sizing:border-box;
                overflow:hidden;
                margin:0 0 40px 50px;
            }
            .button-4 a{
                font-size:12px;
                font-weight: 600;
                color:#242740;
                text-decoration:none;
                line-height:50px;
                transition:all .3s ease;
                z-index:2;
                position:relative;

                i{
                    margin-left: 1rem;
                }

            }
            .eff-4{
                width:15rem;
                height:55px;
                left:-15rem;
                background:var(--gradient);
                position:absolute;
                transition:all .3s ease;
                z-index:1;
            }
            .button-4:hover .eff-4{
                left:0;
            }
            .button-4:hover a{
            color:#fff;
            }
        }
    }
}

.motivational-quotes-wrapper{
    margin: 4rem 0;
    padding: 2rem;
    overflow: hidden;

    .inside-quotes{
        padding: 2rem 0;
    }
    .motivational-quotes{

        .quote-text{
            overflow: hidden;
            text-align: center;
            width: 100%;
            background-color: var(--container);
        
            h5{
                position: absolute;
                top: 50%;
                transform: translate(0%,-50%);
                font-family: var(--heading);
                font-size: 2.5rem;
                text-transform: uppercase;
                color: var(--paraColor);
            }

            &::before{
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                background: url(../img/quotes.png) no-repeat center center;
                content: "";
                height: 190px;
                margin-top: -100px;
            }
        }

        .quote-img{
            width: 100%;
            height: 30rem;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* Team details */

.team-wrapper{
    width: 100%;
    background: url("../img/purpbg.jpg");
    padding: 2rem;
    margin-bottom: 10rem;

    .team-details{
        overflow: hidden;

        h2{
            text-align: center;
            font-family: var(--heading);
            text-transform: uppercase;
            font-size: 3rem;
            color: #fefefe;
            padding: 2rem 0;
        }

        .row{
            padding: 3rem 0;
        }

        .team-img{
            overflow: hidden;

            .image{
                padding: 2rem 0;

                img{
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .team-content{
            position: relative;
            padding: 2rem;
            overflow: hidden;
            color: #fefefe;

            h5{
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                line-height: 2rem;
                font-size: 1rem;
                color: #2E9CCA;
            }

            h3{
                font-family: var(--heading);
                font-size: 2rem;
                padding: 1rem 0;
            }  
            
            p{
                text-align: justify;
                text-justify: auto;
                letter-spacing: 0.1rem;
                line-height: 2rem;
                font-size: 1rem;
            }
        }
    }
}


/* Vision  , Mission */

.vision{
    background: url("../img/purpbg.jpg");
    padding: 2rem;
    color: #fefefe;
    margin-bottom: 10rem;

    h2{
        font-family: var(--heading);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3rem;
        padding: 1rem 0;
    }

    p{
        line-height: 2rem;
        font-size: 1.2rem;
        padding-bottom: 1rem;
        text-align: justify;
        text-justify: auto;
        margin: 0;
    }

    ul{
        padding:0 2rem;
    }
    ul li{
        font-size: 1.2rem;
        line-height: 2rem;
    }
}
/* Footer Start */

.footer-area{
    width: 100%;
    position: absolute;

    .footer-content{
        padding: 4%;
        background: url("../img/purpbg.jpg");

        &::after{
            position: absolute;
            content: "";
            background: url("../img/bluedots.png") center center no-repeat;
            height: 100%;
            width: 100%;
            right: -31rem;
            bottom: 0px;
            max-width: 795px;
            background-size: 100%;
            display: block;
        }

        h3{
            font-family: var(--heading);
            font-size: 2rem;
            color: #fefefe;
        }

        .social-media{
            padding: 2rem 0;

            .icon{
                margin-right: 0.8rem;
                width: 2.5rem;
                height: 2.5rem;
                border: 1px solid #fefefe;
                border-radius: 50%;
                transition: 0.5s ease;

                i{
                    position: relative;
                    top: 40%;
                    left: 30%;
                    transform: translate(0,-50%);
                    color: #fefefe;
                    width: 100%;
                }
            }

            .icon:hover{
                background-color: #2E9CCA;
                cursor: pointer;
                border: 1px solid #2E9CCA;
            }
        }

        p{
            text-transform: uppercase;
            color: #fefefe;
            margin: 0;
            font-size: 0.7rem;
            padding-bottom: 0.4rem;
            letter-spacing: 0.1rem;

            a{
                font-size: 0.7rem;
                color: #2E9CCA;
                text-decoration: none;
            }
        }
    }

    .contact-us{
        padding: 0rem 5rem;
        color: #fefefe;
        text-transform: uppercase;
        background: linear-gradient(#242740,#254592);

        &::before{
            position: absolute;
            z-index: -1;
            height: 128%;
            width: 100%;
            left: 0rem;
            top: -28%;
            content: "";
            background: #242740;
        }

        h5{
            text-transform: lowercase;
            position: absolute;
            right: 2rem;
            letter-spacing: 0.5rem;
            font-family: var(--heading);
            color: #1c1e31;
            z-index: 0;
            font-size: 15rem;
        }
        h2{
            font-family: var(--heading);
            font-size: 1.7rem;
            font-weight: 600;
            margin: 0;
        }

        p{
            position: relative;
            z-index: 2;
            text-align: justify;
            text-justify: auto;
            color: #2E9CCA;
            letter-spacing: 0.1rem;
            font-size: 0.9rem;
            font-weight: 600;
            margin: 2rem 0 1rem 0;
            transition: 0.3s ease;

            &:hover{
                color: #fefefe;
                font-weight: 500;
            }
        }
        
        h4{
            position: relative;
            z-index: 2;
            letter-spacing: 0.1rem;
            font-size: 0.8rem;

            

            a{
                color: #fefefe;
                text-decoration: none;
                transition: 0.3s ease;
            }
            
            a:hover{
                color: #2E9CCA;
            }
        }

        input{
            font-size: 0.7rem;
            padding: 0.3rem 0.5rem;
            text-transform: uppercase;
            margin-top: 2rem;
            width: 15rem;
        }

        .btn{
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }
    }
}


@media only screen and (max-width: 990px){

    .navbar{
        padding-right: 2rem;
    }

    .navbar-nav{
        position: relative;
        text-align: right;
        z-index: 99;
    }
    .hero-page .background{
        display: none;
    }
    .header-area .nav-item .nav-link {
        padding: 0.8rem 0;
    }

    .hero-page .hero-intro .hero-text{
        padding-right: 5rem;
    }
    .director-wrapper{

        .director-img{
            display: none;
        }

        .director-card{

            .director-note{
                margin-left: 0;

                h3{
                    font-size: 2.5rem;
                }
            }

            &::after{
                display: none;
            }
        }
    }
    .quote-wrapper .quote p{
        font-size: 2rem;
    }
    .services-wrapper .services-container h3{
        padding-right: 0;
    }
    .works-wrapper{
        height: 110rem;
        
        .works-container{

            .content-container h2{
                font-size: 2.5rem;
            }

            .projects{

                .left-project{
                    margin-top: 0;

                    .dots{
                        display: none;
                    }

                    .image{
                        width: 100%;
                        height: 80%;
                    }

                    h5{
                        top: 10%;
                        left: 0;
                    }

                    a{
                        top: 100%;
                        left: 1rem;
                    }
                }

                .right-project{
                    margin-top: 10rem;

                    .dots{
                        display: none;
                    }

                    .image{
                        width: 100%;
                        height: 80%;
                    }

                    h5{
                        top: 10%;
                        left: 0;
                    }

                    a{
                        top: 100%;
                        left: 1rem;
                    }
                }
            }
        }
    }
    .footer-area {

        .footer-content::after{
            display: none;
        }

        .contact-us{
            padding: 4%;

            &::before{
                display: none;
            }

            h5{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 425px){
    .hero-page{

        .background h1{
            display: none;
        }

        .hero-intro{
            padding: 0;

            .hero-text{

                p{
                    font-size: 0.8rem;
                }
                
                h3{
                    font-size: 2rem;
                }

                h4{
                    font-size: 2.5rem;
                }
            }

            .scroll-img{
                left: 0;
                bottom: -20rem;
            }
        }
    }
    .motivational-quotes-wrapper{
        padding: 2rem 0;
    }
    .services-wrapper .services-container {
        
        h2{
            font-size: 2.5rem;
        }

        h3{
            font-size: 1rem;
        }
    }
    .vision h2{
        font-size: 2.5rem;
    }
     .works-wrapper{
        height: 80rem;
     }
    .works-wrapper .works-container .projects .left-project a {
        position: relative;
        top: 2rem;
        left: 0;
    }

    .works-wrapper .works-container .projects .right-project a {
        position: relative;
        top: 2rem;
        left: 0;
    }
    .team-wrapper{
        padding: 1rem;
            .team-details h2{
            font-size: 2.5rem;
        }
    } 
}