* {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

:root {
  --heading: 'Luckiest Guy';
  --para: 'Roboto';
  --headColor: #333333;
  --paraColor: #4d4d4d;
  --container: #f9f7fe;
  --gradient: linear-gradient(90deg,#242740,#254592);
}

body {
  font-family: var(--para);
}

.navbar {
  padding: 1rem 5rem 1rem 0;
}

.navbar-brand {
  font-family: var(--heading);
  font-size: 28px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 0.1rem;
  padding: 0 2rem 0 02rem;
}

.header-area {
  background: #242740;
}

.header-area .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
}

.header-area .navbar-nav .active a {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Hero section starts */
.hero-page {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#242740), to(#254592));
  background: linear-gradient(#242740, #254592);
}

.hero-page .background {
  position: absolute;
  top: 10%;
  right: 8%;
}

.hero-page .background h1 {
  position: relative;
  top: 0;
  z-index: 0;
  font-family: var(--heading);
  font-size: 35vw;
  color: #1c1e31;
}

.hero-page .hero-intro {
  position: relative;
  top: 20%;
  left: 10%;
}

.hero-page .hero-intro .hero-text h2 {
  font-family: var(--heading);
  font-size: 52px;
  color: #fff;
  margin: 0;
}

.hero-page .hero-intro .hero-text h3 {
  font-family: var(--heading);
  font-size: 6.5rem;
}

.hero-page .hero-intro .hero-text h3 a {
  color: #fff;
  text-decoration: none;
}

.hero-page .hero-intro .scroll-img {
  position: absolute;
  margin-top: 1%;
  left: 10%;
}

.hero-page .hero-intro .scroll-img a:hover {
  opacity: 0.7;
}

.hero-page .hero-intro .scroll-img a::before {
  position: absolute;
  left: 50%;
  top: 90px;
  content: "";
  width: 1px;
  height: 160px;
  background: #fff;
  display: inline-block;
}

.hero-page .hero-intro .hero-scroll {
  position: absolute;
  color: #fff;
  -webkit-animation: scroll-animate 10s infinite linear;
          animation: scroll-animate 10s infinite linear;
}

@-webkit-keyframes scroll-animate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes scroll-animate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* Services*/
.director-wrapper {
  margin: -10% 0 5% 0;
  width: 100%;
  padding: 0 6%;
}

.director-wrapper .director-img {
  position: absolute;
  margin-top: -4%;
  margin-left: -4%;
  width: 40%;
  height: 65%;
}

.director-wrapper .director-img img {
  border-radius: 5px;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 5;
}

.director-wrapper .director-img::before {
  position: absolute;
  content: "";
  background: url("../img/bluedots.png") center center no-repeat;
  height: 100%;
  width: 100%;
  left: 70px;
  bottom: -90px;
  max-width: 795px;
  background-size: 100%;
  display: block;
}

.director-wrapper .director-card {
  width: 100%;
  background-image: url("../img/purpbg.jpg");
  -webkit-box-shadow: -10px 20px 20px #888888;
          box-shadow: -10px 20px 20px #888888;
}

.director-wrapper .director-card::after {
  position: absolute;
  left: 15%;
  content: "";
  height: 30%;
  width: 1px;
  margin-top: -5%;
  background: #ccc;
  display: inline-block;
}

.director-wrapper .director-card .director-note {
  margin-left: 47%;
  padding: 3% 3%;
}

.director-wrapper .director-card .director-note h2 {
  padding: 2rem 0;
  font-size: 16px;
  font-weight: 600;
  color: #2E9CCA;
  text-transform: uppercase;
}

.director-wrapper .director-card .director-note h3 {
  font-family: var(--heading);
  letter-spacing: 1px;
  color: #fefefe;
  font-size: 4vw;
}

.director-wrapper .director-card .director-note p {
  color: #fff;
  line-height: 36px;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 400;
}

/* Services */
.services-wrapper {
  overflow: hidden;
  width: 100%;
}

.services-wrapper .services-container {
  padding: 6% 3%;
}

.services-wrapper .services-container h2 {
  font-size: 4rem;
  font-family: var(--heading);
  margin: 0;
  color: var(--headColor);
}

.services-wrapper .services-container h3 {
  font-size: 1.2rem;
  color: #254592;
  font-weight: 600;
  text-transform: uppercase;
}

.services-wrapper .services-container .services-div {
  padding: 2% 4%;
}

.services-wrapper .services-container .services-div .services {
  text-align: center;
  margin: 3% 0;
  border-radius: 5px;
  padding: 3% 3%;
  width: 29%;
  background: var(--container);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.services-wrapper .services-container .services-div .services img {
  height: 5rem;
  padding-bottom: 4%;
}

.services-wrapper .services-container .services-div .services h4 {
  padding: 5% 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: #254592;
}

.services-wrapper .services-container .services-div .services p {
  font-size: 1.1rem;
  color: var(--paraColor);
}

.services-wrapper .services-container .services-div .services:hover {
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.services-wrapper .services-container p {
  font-size: 1.2rem;
  color: var(--paraColor);
}

.services-wrapper .services-container .button-4 {
  width: 15rem;
  height: 55px;
  border: 2px solid #242740;
  text-transform: uppercase;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: 50%;
  letter-spacing: 0.2rem;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 0 0 40px 50px;
}

.services-wrapper .services-container .button-4 a {
  font-size: 12px;
  font-weight: 600;
  color: #242740;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
  position: relative;
}

.services-wrapper .services-container .eff-4 {
  width: 15rem;
  height: 55px;
  left: -15rem;
  background: var(--gradient);
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
}

.services-wrapper .services-container .button-4:hover .eff-4 {
  left: 0;
}

.services-wrapper .services-container .button-4:hover a {
  color: #fff;
}

.services-wrapper .services-container i {
  margin-left: 1rem;
}

/* Start Quote  */
.quote-wrapper {
  margin: 3% 0;
  padding: 5% 0;
  width: 100%;
}

.quote-wrapper::before {
  content: "";
  position: absolute;
  margin-top: -5%;
  left: 50%;
  height: 25%;
  width: 1px;
  background: #ccc;
  display: inline-block;
}

.quote-wrapper .quote {
  position: relative;
  overflow: hidden;
  background: var(--container);
  padding: 10%;
  text-align: center;
  width: 100%;
}

.quote-wrapper .quote::after {
  content: "";
  position: absolute;
  top: 90%;
  height: 25%;
  width: 1px;
  background: #ccc;
  display: inline-block;
}

.quote-wrapper .quote p {
  position: relative;
  z-index: 1;
  font-family: var(--heading);
  font-size: 3.5rem;
  color: var(--paraColor);
}

.quote-wrapper .quote::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  background: url(../img/quotes.png) no-repeat center center;
  content: "";
  height: 190px;
  margin-top: -100px;
}

/* Project works */
.works-wrapper {
  max-width: 100%;
  height: 72rem;
  overflow: hidden;
  position: relative;
  padding: 5% 3%;
}

.works-wrapper .works-container {
  width: 100%;
}

.works-wrapper .works-container .content-container {
  padding: 2% 0;
}

.works-wrapper .works-container .content-container h2 {
  font-family: var(--heading);
  font-size: 4rem;
  color: var(--headColor);
}

.works-wrapper .works-container .projects {
  padding: 5% 2%;
}

.works-wrapper .works-container .projects .left-project {
  margin-top: 10%;
}

.works-wrapper .works-container .projects .left-project .dots {
  background: url(../img/darkblue.png) center center/3rem repeat;
  content: "";
  height: 95%;
  right: 20px;
  width: 83%;
  position: absolute;
  z-index: -1;
  bottom: -40px;
}

.works-wrapper .works-container .projects .left-project .image {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  -webkit-box-shadow: -10px 20px 50px #888;
          box-shadow: -10px 20px 50px #888;
}

.works-wrapper .works-container .projects .left-project .image img {
  width: 100%;
}

.works-wrapper .works-container .projects .left-project h5 {
  position: relative;
  text-transform: uppercase;
  left: 15%;
  top: 35%;
  font-weight: 600;
  font-family: var(--heading);
  letter-spacing: 0.1rem;
  color: var(--headColor);
  font-size: 2.5rem;
}

.works-wrapper .works-container .projects .left-project a {
  position: absolute;
  left: 17%;
  top: 31rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.works-wrapper .works-container .projects .left-project a i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.works-wrapper .works-container .projects .left-project a:hover > i {
  margin-left: 0.5rem;
}

.works-wrapper .works-container .projects .right-project {
  margin-top: -5%;
}

.works-wrapper .works-container .projects .right-project .dots {
  background: url(../img/darkblue.png) center center/3rem repeat;
  content: "";
  height: 60%;
  width: 83%;
  right: 20px;
  position: absolute;
  z-index: -1;
  bottom: 135px;
}

.works-wrapper .works-container .projects .right-project .image {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  -webkit-box-shadow: -10px 20px 50px #888;
          box-shadow: -10px 20px 50px #888;
}

.works-wrapper .works-container .projects .right-project .image img {
  width: 120%;
  margin: -10% 0 0 -16%;
}

.works-wrapper .works-container .projects .right-project h5 {
  position: relative;
  text-transform: uppercase;
  left: 15%;
  top: 23%;
  font-family: var(--heading);
  color: var(--headColor);
  font-size: 2.5rem;
}

.works-wrapper .works-container .projects .right-project a {
  position: absolute;
  left: 17%;
  top: 31rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.works-wrapper .works-container .projects .right-project a i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.works-wrapper .works-container .projects .right-project a:hover > i {
  margin-left: 0.5rem;
}

.works-wrapper .works-container .projects .button-4 {
  width: 15rem;
  height: 55px;
  border: 2px solid #242740;
  text-transform: uppercase;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 10rem;
  letter-spacing: 0.2rem;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 0 0 40px 50px;
}

.works-wrapper .works-container .projects .button-4 a {
  font-size: 12px;
  font-weight: 600;
  color: #242740;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
  position: relative;
}

.works-wrapper .works-container .projects .button-4 a i {
  margin-left: 1rem;
}

.works-wrapper .works-container .projects .eff-4 {
  width: 15rem;
  height: 55px;
  left: -15rem;
  background: var(--gradient);
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
}

.works-wrapper .works-container .projects .button-4:hover .eff-4 {
  left: 0;
}

.works-wrapper .works-container .projects .button-4:hover a {
  color: #fff;
}

/* Footer Start */
.footer-area {
  width: 100%;
  position: absolute;
}

.footer-area .footer-content {
  padding: 4%;
  background: url("../img/purpbg.jpg");
}

.footer-area .footer-content::after {
  position: absolute;
  content: "";
  background: url("../img/bluedots.png") center center no-repeat;
  height: 100%;
  width: 100%;
  right: -31rem;
  bottom: 0px;
  max-width: 795px;
  background-size: 100%;
  display: block;
}

.footer-area .footer-content h3 {
  font-family: var(--heading);
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #fefefe;
}

.footer-area .footer-content span {
  background: #2E9CCA;
  height: 1.3px;
  position: absolute;
  margin-top: 10px;
  width: 0px;
  pointer-events: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer-area .footer-content span:hover {
  pointer-events: none;
}

.footer-area .footer-content ul {
  list-style: none;
  padding: 1rem 0;
}

.footer-area .footer-content ul li:before {
  content: "\2022";
  color: transparent;
}

.footer-area .footer-content li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #fefefe;
  font-size: 13px;
  line-height: 20px;
  font-weight: lighter;
  position: absolute;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer-area .footer-content li a:hover {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.footer-area .footer-content li a:hover > span {
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  width: 12px;
}

.footer-area .footer-content p {
  text-transform: uppercase;
  color: #fefefe;
  margin: 0;
  font-size: 0.7rem;
  padding-bottom: 0.4rem;
  letter-spacing: 0.1rem;
}

.footer-area .footer-content p a {
  font-size: 0.7rem;
  color: #2E9CCA;
  text-decoration: none;
}

.footer-area .contact-us {
  padding: 0rem 5rem;
  color: #fefefe;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#242740), to(#254592));
  background: linear-gradient(#242740, #254592);
}

.footer-area .contact-us::before {
  position: absolute;
  z-index: -1;
  height: 128%;
  width: 100%;
  left: 0rem;
  top: -28%;
  content: "";
  background: #242740;
}

.footer-area .contact-us h5 {
  text-transform: lowercase;
  position: absolute;
  right: 2rem;
  letter-spacing: 0.5rem;
  font-family: var(--heading);
  color: #1c1e31;
  z-index: 0;
  font-size: 15rem;
}

.footer-area .contact-us h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 0;
}

.footer-area .contact-us p {
  position: relative;
  z-index: 2;
  text-align: justify;
  text-justify: auto;
  color: #2E9CCA;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-area .contact-us p:hover {
  color: #fefefe;
  font-weight: 500;
}

.footer-area .contact-us h4 {
  position: relative;
  z-index: 2;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.footer-area .contact-us h4 a {
  color: #fefefe;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-area .contact-us h4 a:hover {
  color: #2E9CCA;
}

.footer-area .contact-us input {
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  margin-top: 2rem;
  width: 15rem;
}

.footer-area .contact-us .btn {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 990px) {
  .director-wrapper .director-img {
    display: none;
  }
  .director-wrapper .director-card .director-note {
    margin-left: 0;
  }
  .director-wrapper .director-card .director-note h3 {
    font-size: 3.5rem;
  }
  .director-wrapper .director-card::after {
    display: none;
  }
  .quote-wrapper .quote p {
    font-size: 2rem;
  }
  .works-wrapper {
    height: 100rem;
  }
  .works-wrapper .works-container .content-container h2 {
    font-size: 3.5rem;
  }
  .works-wrapper .works-container .projects .left-project {
    margin-top: 0;
  }
  .works-wrapper .works-container .projects .left-project .dots {
    display: none;
  }
  .works-wrapper .works-container .projects .left-project .image {
    width: 100%;
    height: 80%;
  }
  .works-wrapper .works-container .projects .left-project h5 {
    top: 10%;
    left: 0;
  }
  .works-wrapper .works-container .projects .left-project a {
    left: 1rem;
  }
  .works-wrapper .works-container .projects .right-project {
    margin-top: 10rem;
  }
  .works-wrapper .works-container .projects .right-project .dots {
    display: none;
  }
  .works-wrapper .works-container .projects .right-project .image {
    width: 100%;
    height: 80%;
  }
  .works-wrapper .works-container .projects .right-project h5 {
    top: 10%;
    left: 0;
  }
  .works-wrapper .works-container .projects .right-project a {
    top: 31.5rem;
    left: 1rem;
  }
  .footer-area .footer-content::after {
    display: none;
  }
  .footer-area .contact-us {
    padding: 4%;
  }
  .footer-area .contact-us::before {
    display: none;
  }
  .footer-area .contact-us h5 {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .hero-page .background h1 {
    display: none;
  }
  .hero-page .hero-intro {
    padding: 0;
  }
  .hero-page .hero-intro .hero-text h3 {
    font-size: 3.5rem;
  }
  .hero-page .hero-intro .scroll-img {
    left: 0;
    bottom: -10rem;
  }
  .services-wrapper .services-container h2 {
    font-size: 3.5rem;
  }
  .services-wrapper .services-container h3 {
    font-size: 1rem;
  }
  .works-wrapper .works-container .projects .left-project a {
    position: relative;
    top: 1rem;
    left: 0;
  }
  .works-wrapper .works-container .projects .right-project a {
    position: relative;
    top: 1rem;
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */